@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Roger Delisle<br />
    Calgary, AB<br />
    <abbr title="Phone">Phone:</abbr>
    403-710-5817
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:JRD.Consulting@Hotmail.com">JRD.Consulting@Hotmail.com</a><br /> 
</address>